<!DOCTYPE html>
<html lang="en">
<head>
<title>농수산업 대출추천 ai</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
  a{text-decoration: none;}
  a:hover{color: gray;}
  .loading {
    position:absolute;
    top:40%;
    left:50%;
    z-index:1;
    width:100px;
    height:100px;
  }
  .loadingMsg {
    position:absolute;
    top:58%;
    left:37%;
    z-index:1;
    width:3000px;
    height:70px;
  }
</style>
<script type="text/javascript">
</script>
</head>
<body>
  
  <!-- 상단 Nav -->
  <nav class="navbar navbar-expand-sm" style="height:100px;text-align:center;">
    <div class="container" style="margin-left:40%; position:absolute;">        
        <p style="margin-top: 20px; font-size:30px;"><a href="/">농수산업자 대출 추천 시스템</a></p>
    </div>
  </nav>
​
  <div style="min-height: 100vh;">
    <!-- 사이트매시 바디 시작-->
    <div class="centered-div">
        <div class="spinner-border text-warning loading" role="status">
        </div>
    </div>
    <br>
    <div class="centered-div loadingMsg">
        <p style="color:rgb(255, 204, 0); font-size:30px;">잠시만 기다려주세요. 리포트를 생성중입니다.</p>
    </div>
    
    
    <!-- 사이트매시 바디 끝 -->
  </div>
​
  <hr>
​
  <!-- 푸터 -->
  <footer class="w3-container w3-padding-16 w3-center">  
    <div class="w3-xlarge w3-padding-32 fw-bold">
      <h5><i class="fa fa-map-marker"></i> kb ai challenge (김민혁, 강수빈)</h5>
      <h5><i class="fa fa-envelope"></i> mhkim0929@naver.com | zxc2289@naver.com</h5>
      <h5><i class="fa fa-phone"></i> 010-9916-0646 | 010-4489-1534</h5>
    </div>
  </footer>
​
  
​
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
​
</body>
</html>