<!DOCTYPE html>
<html lang="en">
<head>
<title>고르다</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
a{text-decoration: none;}
a:hover{color: gray;}
  /*****************CHAT BODY *******************/
.chat-body .answer.left {padding: 0 0 0 58px;text-align: left;float: left;}
.chat-body .answer {position: relative;max-width: 600px;overflow: hidden;clear: both;}
.chat-body .answer.left .avatar {left: 0;}
.chat-body .answer .avatar {bottom: 36px;}
.chat .avatar {width: 50px;height: 50px;position: absolute;}
.chat .avatar img {display: block;height: 100%;}
.chat-body .answer .name {font-size: 30px;line-height: 36px;}
.chat-body .answer.left .avatar .status {right: 4px;}
.chat-body .answer .avatar .status {bottom: 0;}
.chat-body .answer.left .text {background: rgb(255, 204, 0);;color: black;border-radius: 8px 8px 8px 0;}
.chat-body .answer .text {padding: 12px;font-size: 16px;line-height: 26px;position: relative;}
.chat-body .answer.left .text:before {left: -30px;border-right-color: rgb(255, 204, 0);border-right-width: 12px;}
.chat-body .answer .text:before {content: '';display: block;position: absolute;bottom: 0;border: 18px solid transparent;border-bottom-width: 0;}
.chat-body .answer.left .time {padding-left: 12px;color: #333333;}
.chat-body .answer .time {font-size: 16px;line-height: 36px;position: relative;padding-bottom: 1px;}
.decor-default {background-color: #f8f9fa;}
</style>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b389af261daeec4ba04c8c294eb63e4f&libraries=services"></script>
<script>
    //현위치 정보
    function currentLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
    		//위치 액세스 정보 불러오기 성공시
            function success(position) {
                var html = "<p class='text-secondary' style='text-align:center;'><span class='text-danger'>*</span>위치 액세스가 허용되었습니다. 지도를 이동하여 가까운 영업점을 확인해보세요.</p>";
                $("#mapMsg").html(html);
                var level= 3;
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;
                search(level, lat, lon);
            }
          	//위치 액세스 정보 불러오기 실패시
            function error() {
                var html = "<p class='text-secondary' style='text-align:center;'><span class='text-danger'>*</span>위치 액세스가 차단되어 기본위치로 이동되었습니다. 위치 액세스를 허용해주세요.</p>";
                $("#mapMsg").html(html);
                var level=3;
                //기본 위도,경도 설정
                var lat = 37.55301068103026;
                var lon = 126.97264689001376;
                search(level, lat, lon);
            }                
        } else { 
            var lat = 37.566780;
            var lon = 126.978432;
            search(lat, lon);
        }
        return true
    }
    //위도,경도 기반 지도 출력
    function search(level, lat, lon) {
    
        var infowindow = new kakao.maps.InfoWindow({zIndex:1});
        
        var mapContainer = document.getElementById('map');
        var mapOption = {
                center: new kakao.maps.LatLng(lat, lon), 
                level: level
        };  
        
        var map = new kakao.maps.Map(mapContainer, mapOption); 
        
        var ps = new kakao.maps.services.Places(map); 
        
        ps.categorySearch('BK9', placesSearchCB, {useMapBounds:true}); //카테고리로 은행 검색
        
        function placesSearchCB (data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {
                for (var i=0; i<data.length; i++) {
                    displayMarker(data[i]);    
                }       
            }
        }
        
        //마커 표시
        function displayMarker(place) {
            var marker = new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(place.y, place.x) 
            });
        
            kakao.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
                infowindow.open(map, marker);
            });
        }
    
        //지도 변화 event 등록
        kakao.maps.event.addListener(map, 'center_changed', function() {    
            var level = map.getLevel();
    
            var latlng = map.getCenter(); 
    
            search(level, latlng.getLat(), latlng.getLng());
        });
    }
    
    currentLocation();    
    
</script>
</head>
<body>
  
  <!-- 상단 Nav -->
  <nav class="navbar navbar-expand-sm" style="height:100px;text-align:center;">
    <div class="container" style="margin-left:47%; position:absolute;">        
        <p style="margin-top: 20px; font-size:30px;"><a href="/">고르다</a></p>
    </div>
  </nav>
​
  <div>
    <!-- 바디 시작-->
    <div class="container">
        <h1 id="title" style="text-align:center;">{{name}} 님을 위한 맞춤 대출상품 추천 리포트</h1>
        <div class="row">
            <div class="col-6">
                <div class="row mt-3 mb-3">
                    <h3 style="text-align:center;">상품 추천</h3>
                </div>
                <div class="row">
                    <div class="chat decor-default">
                        <div class="chat-body">
                            <div class="answer left mt-5 mb-5">
                                <div class="avatar">
                                    <img src="{{ url_for('static', filename='img/kiki.png') }}" width="50px"><br>
                                </div>
                                <div class="name">{{ title[0] }}</div>
                                <div class="text">
                                	{{ result[0] }}
                                	                                 
                                </div>
                            </div>
                            <div class="answer left mb-5">
                                <div class="avatar">
                                	<img src="{{ url_for('static', filename='img/agu.png') }}" width="50px"><br>
                                </div>
                                <div class="name">{{ title[1] }}</div>
                                <div class="text">
                                	{{ result[1] }}                                		                                    
                                </div>
                            </div>
                            <div class="answer left mb-5">
                                <div class="avatar">
                                    <img src="{{ url_for('static', filename='img/bibi.png') }}" width="50px"><br>
                                </div>
                                <div class="name">{{ title[2] }}</div>
                                <div class="text">
                                	{{ result[2] }}                                	                                   
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                </div>
            </div>
            <div class="col-6">
                <div class="row" style="display: flex; justify-content: center; align-items: center;">
                    <div class="row mt-3">
                        <h3 style="text-align:center;">가까운 영업점</h3>
                        <div id="mapMsg"></div>   
                    </div>                    
                    <div id="map" style="width:500px;height:400px;"></div>
                </div>
                <div class="row" style="display: flex; justify-content: center; align-items: center;">               
                    <div class="row mt-5 mb-3" >
                        <h3 style="text-align:center;">관련 기사</h3>
                    </div>
                    <div class="row">
                        <table class="table table-hover" style="text-align:center;">
                            <tr class="table-warning">
                                <th>제목</th>
                                <th>링크</th>
                            </tr>
                            {% for index in range(5) %}
    						<tr>
        						<td>{{ news_titles[index] }}</td>
        						<td><a href="{{ news_links[index] }}">{{ news_links[index] }}</a></td>
    						</tr>
							{% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 바디 끝 -->
  </div>
​
  <hr>
​
  <!-- 푸터 -->
  <footer class="w3-container w3-padding-16 w3-center">  
    <div class="w3-xlarge w3-padding-32 fw-bold">
      <h5><i class="fa fa-map-marker"></i> kb ai challenge (김민혁, 강수빈)</h5>
      <h5><i class="fa fa-envelope"></i> mhkim0929@naver.com | zxc2289@naver.com</h5>
      <h5><i class="fa fa-phone"></i> 010-9916-0646 | 010-4489-1534</h5>
    </div>
  </footer>
  ​
</body>
</html>